CONTROL STATEMENTS AND PROGRAM DEVELOPMENT

3.3 Self Check Pseudocode

In [1]:
#Python Statements to replace pseudocode
number1 = int(input('Enter first integer: '))

number2 = int(input('Enter second integer: '))

total = number1 + number2
print('The sum of', number1, 'and', number2, 'is', total)

Enter first integer:  10
Enter second integer:  5

The sum of 10 and 5 is 15

3.5 Self Check: if Statement

In [2]:
#Practicing suite indentation with if Statement
grade = 85

if grade >= 60:
    print('Passed')

Passed

In [3]:
#Changing grade to get different result
grade = 55

if grade >= 60:
    print('Passed')

3.6 if...else and if...elif...else Statements

In [4]:
#if...else Statement
grade = 99

if grade >= 60:
    print('Passed')
else:
    print('Failed')

Passed

In [5]:
#Using conditional expressions
grade = 87

if grade >= 60:
    result = 'Passed'
else:
    result = 'Failed'
    
result

'Passed'

In [6]:
#Same thing using concise conditional expression
grade = 62

result = ('Passed' if grade >= 60 else 'Failed')

result

'Passed'

In [7]:
#Interactive mode evaluating the conditional expression directly
'Passed' if grade >= 60 else 'Failed'

'Passed'

In [8]:
#Using if...elif...else Statement
grade = 77

if grade >= 90:
    print('A')
elif grade >= 80:
    print('B')
elif grade >= 70:
    print('C')
elif grade >= 60:
    print('D')
else:
    print('F')

C

3.7 while Statement

In [9]:
#Find the first power of 7 greater than 1000
product = 7

while product <= 1000:
    product = product * 7
    
product

2401

3.8 for Statement

In [10]:
#Display "Programming" with its characters separated by two spaces

for character in 'Programming':
    print(character, end='  ')

P  r  o  g  r  a  m  m  i  n  g

In [11]:
#Totaling five integers in a list
total = 0

for number in [2, -3, 0, 17, 9]:
    total = total + number
    
total

25

In [12]:
#Iterate 10 times, displaying the values from 0 to 9
for counter in range(10):
    print(counter, end=' ')

0 1 2 3 4 5 6 7 8 9

In [13]:
#3.8 Self Check
#Calculate the total of the integers from 0 through 1,000,000

total = 0

for number in range(10000001):
    total = total + number
    
total

50000005000000

3.9 Augmented Assignments

In [14]:
#Using augmented assignment statement in place of total = total + number
total = 0

for number in [1, 2, 3, 4, 5,]:
    total += number
    
total

15

In [15]:
#3.9 Self Check
#Create a variable x with the value 12. Use an exponentiation augmented assignment satement to square x's value

x = 12

x **= 2

x

144

3.10 Program Development: Sequence-Controlled Repetition

In [16]:
#3.10 Self Check
#Display an f-string in which you insert the values of the variables number1 (7) and number2 (5) and their product
number1 = 7

number2 = 5

print(f'{number1} times {number2} is {number1 * number2}')

7 times 5 is 35

3.13 Built-In Function range: A Deeper Look

In [17]:
#two-argument version produces a sequence of consecutive integers from its first argument's value up
#to, but not including, the second argument's value

for number in range(5, 10):
    print(number, end=' ')

5 6 7 8 9

In [18]:
#three-argument version produces a sequence of integers from its first argument's value down to, 
#but not including, the second argument's value, incrementing by the third argument's value

for number in range(0, 10, 2):
    print(number, end=' ')

0 2 4 6 8

In [19]:
#if the third argument is negative, the sequence progresses from the first argument's value down to,
#but not including the second argument's value, incrementing by the third argument's value

for number in range(10, 0 ,-2):
    print(number, end=' ')

10 8 6 4 2

In [20]:
#3.13 Self Check: Use a for statement, range and print to display n one line sequence of values
# 99 88 77 66 55 44 33 22 11 0, each separated by one space

for number in range(99, -1, -11):
    print(number, end=' ')

99 88 77 66 55 44 33 22 11 0

In [21]:
#3.13 Self Check: Use a for and range to sum the even integers from 2 through 100, then display the sum

total = 0

for number in range(2, 101, 2):
    total += number

total

2550

3.14 Using Type Decimal for Monetary Amounts

In [22]:
from decimal import Decimal

principal = Decimal('1000.00')

principal

Decimal('1000.00')

In [23]:
rate = Decimal('0.05')

rate

Decimal('0.05')

In [24]:
#More decimals
x = Decimal('10.5')

y = Decimal('2')

x + y

Decimal('12.5')

In [25]:
x // y

Decimal('5')

In [26]:
x += y

In [27]:
x

Decimal('12.5')

3.15 break and continue Statements

In [28]:
#In the following code, range produces the integer sequence 0-99, but the loop terminates when the number is 10:

for number in range(100):
    if number == 10:
        break
    print(number, end=' ')

0 1 2 3 4 5 6 7 8 9

In [29]:
#In a for, the loop processes the next item in the sequence (if any):

for number in range(10):
    if number == 5:
        continue
    print(number, end=' ')

0 1 2 3 4 6 7 8 9

In [30]:
#practice

for number in range(0, 101, 2):
    if number == 36:
        break
    print(number, end=' ')

0 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34

3.16 Boolean Operators and, or and not

In [31]:
#Boolean Operator and
#if either (or both) of the simple conditions is False, the entire expression is False

gender = 'Female'
age = 70

if gender == 'Female' and age >= 65:
    print('Senior female')

Senior female

In [32]:
#Boolean Operator or
#The entire condition is False only if both simple conditions are False

semester_average = 83

final_exam = 95

if semester_average >= 90 or final_exam >= 90:
    print('Student gets an A')

Student gets an A

In [33]:
#Boolean Operator not
#The Boolean not Operator "reverses" the meaning of a condition - True becomes False and False becomes True

grade = 87

if not grade == -1:
    print('The next grade is', grade)

The next grade is 87

In [34]:
#3.16 Self Check
#Assume that i = 1, j = 2, k = 3, and m = 2. What does each of the following conditions display:
# a) (i >= 1) and (j < 4)
# b) (m <= 99) and (k < m)
# c) (j >= i) or (k == m)
# d) (k + m < j) or (3 - j >= k)
# e) not (k > m)

i = 1

j = 2

k = 3

m = 2

(i >= 1) and (j < 4)

True

In [35]:
(m <= 99) and (k < m)

False

In [36]:
(j >= i) or (k == m)

True

In [37]:
(k + m < j) or (3 - j >= k)

False

In [38]:
not (k > m)

False

Calculate Measures of Central Tendency - Native Python

In [39]:
values = [47, 95, 88, 73, 88, 84]

len(values) #count using built-in len()

6

In [40]:
sum(values) #sum using built-in sum()

475

In [41]:
sum(values) / len(values) #mean by dividing sum and len

79.16666666666667

Calculate Measures of Central Tendency - with Statistic Module

In [42]:
import statistics

values = [47, 95, 88, 73, 88, 84]

In [43]:
statistics.mean(values)

79.16666666666667

In [44]:
statistics.median(values)

86.0

In [45]:
statistics.mode(values)

88

Custom Central Tendency

In [46]:
values = [35, 97, 364, 229, 86, 544, 322, 378, 366, 490, 263, 287, 351, 97, 333, 365, 389]

len(values)

17

In [47]:
sum(values)

4996

In [48]:
sum(values) / len(values)

293.88235294117646

In [49]:
statistics.mean(values)

293.88235294117646

In [50]:
statistics.median(values)

333

In [51]:
statistics.mode(values)

97